# Configuración de Entorno para Estilo Neutral
# Entornos disponibles: dev, test/qa, prod

ENVIRONMENT=dev
APP_NAME=Estilo Neutral DEV
SPREADSHEET_ID=1V8xBnRVtZUyz4liGW59BU6mkgCjjreEOEWzySjcZLvI
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyDwgo8DSjQWN4vBVztYj_AJ1kur38nwdemGMcoe9--ZdSY5i_xEq17yczJqsSSJ4H7pQ/exec
API_BASE_URL=https://dev.api.example.com
DEBUG_MODE=true
ENABLE_LOGS=true
